.checkmark {
    display:inline-block;
    width: 21px;
    height:21px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: -30px;
}

.status-mark-circle {
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    left:0;
    top:0;
}

.status-mark-stem {
    position: absolute;
}

.status-mark-kick {
    position: absolute;
}

.errormark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: -30px;
}

.status-mark-circle {
    background-color: white;
}

.errormark .status-mark-stem {
    width: 3px;
    height: 13px;
    left: 9px;
    top: 4px;
    background-color: #ff5630;
}

.checkmark .status-mark-stem {
    width:3px;
    height:9px;
    left: 10px;
    top: 5px;
    background-color: #00875a;
}

.errormark .status-mark-kick {
    width: 13px;
    height: 3px;
    left: 4px;
    top: 9px;
    background-color: #ff5630;
}

.checkmark .status-mark-kick {
    width:3px;
    height:3px;
    left: 7px;
    top: 11px;
    background-color: #00875a;
}

.jira-ticket-validator.status-report {
    border: 1px solid #34875a;
    height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: baseline;
    padding: 0 40px;
    background-color: #9fd2c1;
    border-radius: 5px;
}

.jira-ticket-validator.status-report.errors {
    border-color: #f95638;
    background-color: #fcb8a8;
}

.jira-ticket-validator.status-report span::after {
    content: "\a";
    white-space: pre;
}